.navbar-nav > li > a, .navbar-brand {
    padding-top:35px !important; 
    padding-bottom:0 !important;
    height: 75px;
    font-size: 18px;
}
.navbar {min-height:75px !important;}
.navbar-brand{
	padding-top:5px !important; 
  padding-bottom:5px !important;
}